<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop"	
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd       
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd" default-lazy-init="true">

	<context:property-placeholder location="classpath:config.properties" />
	<!-- 开启controller注解支持 -->
	<context:component-scan base-package="cn.cnyirui.**.controller,cn.cnyirui.framework.extension.**"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Component" />			
	</context:component-scan>
    <!-- aop注解 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>	
	<!-- 会自动注册了 ConversionService -->
	<mvc:annotation-driven conversion-service="conversionService"
		enable-matrix-variables="true">
		
        <mvc:message-converters register-defaults="true">
            <!-- StringHttpMessageConverter编码为UTF-8，防止乱码 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
                <property name = "supportedMediaTypes">
                    <list>
                        <bean class="org.springframework.http.MediaType">
                            <constructor-arg index="0" value="text"/>
                            <constructor-arg index="1" value="plain"/>
                            <constructor-arg index="2" value="UTF-8"/>
                        </bean>
                        <bean class="org.springframework.http.MediaType">
                            <constructor-arg index="0" value="*"/>
                            <constructor-arg index="1" value="*"/>
                            <constructor-arg index="2" value="UTF-8"/>
                        </bean>
                    </list>
                </property>
            </bean>              
            <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
            <bean id="mappingJackson2HttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                    	<value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>        
        </mvc:message-converters>
        		
		<mvc:argument-resolvers>
			<bean
				class="cn.cnyirui.framework.controller.bind.SearchableMethodArgumentResolver" >
				<property name="pageableMethodArgumentResolver">
					<bean class="cn.cnyirui.framework.controller.bind.PageableMethodArgumentResolver">
						<property name="sizeParameterName" value="rows"/>
					</bean>
				</property>
			</bean>
		</mvc:argument-resolvers>

	</mvc:annotation-driven>
	
	<mvc:view-controller path="/" view-name="redirect:/rbac/index" />
	<!-- 当在web.xml 中 DispatcherServlet使用 <url-pattern>/</url-pattern> 映射时，能映射静态资源 -->
	<mvc:default-servlet-handler />  
	<!-- 静态资源映射 -->
	<mvc:resources location="/static/" mapping="/static/**" />
	<mvc:resources location="/upload/" mapping="/upload/**" />
	<!-- 默认的视图解析器 在上边的解析错误时使用 (默认使用html)- -->
	<bean id="defaultViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="contentType" value="text/html" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 文件上传相关 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!--one of the properties available;the maximum upload size in bytes 100M -->
		<property name="maxUploadSize" value="104857600" />
	</bean>

</beans>
